.container {
  background-color: var(--bgSoft);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form input,
.form textarea,
.form select {
  padding: 30px;
  background-color: var(--bg);
  color: var(--text);
  border-radius: 5px;
  margin-bottom: 30px;
  border: 2px solid var(--bgActive);
}
.form input, .form select {
  width: 45%;
}

.form textarea {
    width: 100%;
}
.form button {
    width: 100%;
    padding: 30px;
    background-color: teal;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--text);
}